[submodule "dep/cusplibrary"]
	path = dep/cusplibrary
	url = git@github.com:nitronoid/cusplibrary.git
[submodule "dep/eigen"]
	path = dep/eigen
	url = https://github.com/eigen-mirror/eigen
[submodule "dep/libigl"]
	path = dep/libigl
	url = https://github.com/libigl/libigl
